<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendenceSystemUser"
        tools:targetApi="31">
        <activity
            android:name=".AttendenceReportModule"
            android:exported="false" />
        <activity
            android:name=".ViewAttendanceReportDetails"
            android:exported="false" />
        <activity
            android:name=".SubjectAssignedStudentCheck"
            android:exported="false" />
        <activity
            android:name=".ViewAttendanceReport"
            android:exported="false" />
        <activity
            android:name=".checkAttendenceStudent"
            android:exported="false" />
        <activity
            android:name=".showQR"
            android:exported="false" />
        <activity
            android:name=".qrScanActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentSemester"
            android:exported="false" />
        <activity
            android:name=".PromoteStudents"
            android:exported="false" />
        <activity
            android:name=".SubjectAssignedCheck"
            android:exported="false" />
        <activity
            android:name=".Attendence_Subjects"
            android:exported="false" />
        <activity
            android:name=".attenDence_check"
            android:exported="false" />
        <activity
            android:name=".attenDence_take"
            android:exported="false" />
        <activity
            android:name=".TeacherProfile"
            android:exported="false" />
        <activity
            android:name=".StudentProfile"
            android:exported="false" />
        <activity
            android:name=".AssignedSubjects"
            android:exported="false" />
        <activity
            android:name=".AssignSubjectsTeachers"
            android:exported="false" />
        <activity
            android:name=".Semesters"
            android:exported="false" />
        <activity
            android:name=".AddSemesters"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ScanQr"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Attendence"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddBatches"
            android:exported="false"
            android:label="ADD BATCH">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddSubjects"
            android:exported="false"
            android:label="ADD SUBJECT">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Subjects"
            android:exported="false"
            android:label="SUBJECTS">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Batches"
            android:exported="false"
            android:label="BATCHES">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterTeacher"
            android:exported="false"
            android:label="ADD TEACHER">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentMainscreen"
            android:exported="false"
            android:label="STUDENT PORTAL">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Students"
            android:exported="false"
            android:label="STUDENTS">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterStudent"
            android:exported="false"
            android:label="REGISTER STUDENT">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Teachers"
            android:exported="false"
            android:label="Teachers">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Registration"
            android:exported="false"
            android:label="Registration">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TeacherMainscreen"
            android:exported="false"
            android:label="Teacher Portal">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminMainscreen"
            android:exported="false"
            android:label="Admin Portal">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Biometric Attendance BS(CS) GDCL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>